xml/circuito.dtd

<!ELEMENT circuito (nombre, longitud, anchura, fechaCarrera, horaInicio, numeroVueltas,
                   localidad, pais, patrocinador, referencias, fotos, videos,
                   puntoOrigen, tramos, vencedor, clasificacionMundial)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT longitudCircuito (#PCDATA)>
<!ELEMENT anchura (#PCDATA)>

<!ELEMENT fechaCarrera (#PCDATA)>
<!ELEMENT horaInicio (#PCDATA)>
<!ELEMENT numeroVueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!ELEMENT vencedor (nombre, tiempo)>
<!ELEMENT clasificacionMundial (piloto, piloto, piloto)>
<!ELEMENT piloto (#PCDATA)>
<!ELEMENT tiempo (#PCDATA)>

<!ELEMENT referencias (referencia, referencia, referencia, referencia*)>
<!ELEMENT referencia (#PCDATA)>

<!ELEMENT fotos (foto+)>
<!ELEMENT foto (#PCDATA)>

<!ELEMENT videos (video+)>
<!ELEMENT video (#PCDATA)>

<!ELEMENT puntoOrigen (longitud, latitud, altitud)>
<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (longitud, latitud, altitud, sector)>

<!ELEMENT distancia (#PCDATA)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>
<!ELEMENT sector (#PCDATA)>

<!ATTLIST longitud unidad CDATA #REQUIRED>
<!ATTLIST anchura unidad CDATA #REQUIRED>
<!ATTLIST tramo unidad CDATA #REQUIRED>
<!ATTLIST piloto posicion CDATA #REQUIRED>
