xml/circuito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.uniovi.es" 
            xmlns="http://www.uniovi.es" 
            elementFormDefault="qualified" >
	<xs:element name="circuito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="longitudCircuito" />
				<xs:element ref="anchura" />
				<xs:element ref="fechaCarrera" />
				<xs:element ref="horaInicio" />
				<xs:element ref="numeroVueltas" />
				<xs:element ref="localidad" />
				<xs:element ref="pais" />
				<xs:element ref="patrocinador" />
				<xs:element ref="referencias" />
				<xs:element ref="fotos" />
				<xs:element ref="videos" />
				<xs:element ref="puntoOrigen" />
				<xs:element ref="tramos" />
				<xs:element ref="vencedor" />
				<xs:element ref="clasificacionMundial" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <!-- INFO CIRCUITO -->
	<xs:element name="nombre" type="xs:string" />

    <xs:simpleType name="tipoLongitudCircuito">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/> 
            <xs:maxInclusive value="10000"/> 
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoAnchura">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>  
            <xs:maxInclusive value="100"/>  
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="longitudCircuito">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="tipoLongitudCircuito">
                    <xs:attribute name="unidad" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="anchura">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="tipoAnchura">
                    <xs:attribute name="unidad" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- INFO DE CARRERA -->
	<xs:element name="fechaCarrera" type="xs:date" />                                   
	<xs:element name="horaInicio" type="xs:time" />                                        
	<xs:element name="numeroVueltas" type="xs:decimal" />                               
	<xs:element name="localidad" type="xs:string" />
	<xs:element name="pais" type="xs:string" />
	<xs:element name="patrocinador" type="xs:string" />

    <!-- PILOTOS -->
	<xs:element name="vencedor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="piloto" />
				<xs:element ref="tiempo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="clasificacionMundial">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="piloto" />
                <xs:element ref="piloto" />
                <xs:element ref="piloto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="piloto">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="posicion" type="xs:positiveInteger" use="required" />   
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tiempo" type="xs:duration" />  

    <!-- REFERENCIAS -->                                    
	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="referencia" />
                <xs:element ref="referencia" />
                <xs:element ref="referencia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referencia" type="xs:string" />

    <!-- FOTOS -->
	<xs:element name="fotos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="5" ref="foto" />                   
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="foto" type="xs:string" />

    <!-- VIDEOS -->
	<xs:element name="videos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="3" ref="video" />                  
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="video" type="xs:string" />

    <!-- PUNTOS Y TRAMOS DEL CIRCUITO -->
	<xs:element name="puntoOrigen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitud" />
				<xs:element ref="latitud" />
				<xs:element ref="altitud" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tramos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="tramo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tramo">
		<xs:complexType>
			<xs:sequence>
                <xs:element ref="distancia"/>
				<xs:element ref="longitud" />
				<xs:element ref="latitud" />
				<xs:element ref="altitud" />
				<xs:element ref="sector" />
			</xs:sequence>
			<xs:attribute name="unidad" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="distancia">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="latitud">                             
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-90"/>
                <xs:maxInclusive value="90"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element> 
    <xs:element name="longitud">                            
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-180"/>
                <xs:maxInclusive value="180"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
	<xs:element name="altitud">     
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="5000"/>
            </xs:restriction>
        </xs:simpleType>    
    </xs:element>                            
	<xs:element name="sector" type="xs:positiveInteger" />                                      
</xs:schema>